*{
    outline: none;
}

body
{
    margin: 40px 0px;
    background-color:#385591;
}

body, input, button
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

img
{
    display: block;
    width: 100%;
    border: 0;
}

.tb
{
    display: table;
    width: 100%;
}

.tr
{
    display: table-row;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

a
{
    text-decoration: none;
}

button
{
    padding: 0;
    border: 0;
    background-color: transparent;
}

::placeholder
{
    color: #f1f1f1;
}

main
{
    width: 1280px;
    margin: 0 auto;
    background-color: #e9ebee;
    box-shadow: 0px 8px 30px #1d2d4f;
    border-radius: 4px;
    overflow: hidden;
}


/* Header */
header
{
    padding: 15px 20px;
    background-color: #4267b2;
}

#logo
{
    width: 2.7rem;
    margin-left: 1rem ;
}


#search-form form
{
    position: relative;
    width: 15rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    padding-right: 2.5rem;
    background-color: #3b5ca0;
    border-radius: 1.25rem;
    margin-left: 1rem;
}

#search-form form input
{
    width: 100%;
    color: #fff;
    border: 0;
    background-color: transparent;
}

#search-form form button
{
    position: absolute;
    top: 6px;
    right: 6px;
    color: #f1f1f1;
    height: 22px;
    line-height: 1;
    cursor: pointer;
}

#search-form form button i
{
    font-size: 22px;
}

#f-name-l
{
    width: 1px;
    color: #fff;
    font-weight: bold;
    white-space: pre;
    padding-right: 20px;
}

#f-name-l span
{
    padding-right: 28px;
    border-right: 1px solid #35518b;
}

#i-links
{
    width: 1px;
}

#m-td
{
    padding-right: 20px;
}

#m-td span
{
    position: relative;
    cursor: pointer;
}

#m-td span.m-active:before
{
    content: '5';
    position: absolute;
    top: -8px;
    right: 0px;
    color: #fff;
    font-size: 12px;
    padding: 4px 4px 3px 4px;
    background-color: #ff1e0e;
    border-radius: 3px;
    line-height: 1;
}

#i-links i
{
    color: #fff;
    font-size: 24px;
    padding: 0px 8px;
    vertical-align: middle;
}

#p-link
{
    display: block;
    width: 34px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 50%;
    overflow: hidden;
}

#p-link img
{
    width: 100%;
}

/* Header finished */

/* Profile image header */
#profile-upper
{
    position: relative;
}

#profile-d
{
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
}

#profile-banner-image
{
    height: 360px;
    overflow: hidden;
    z-index: 1;
}

#profile-banner-image img
{
    width: 100%;
    margin-top: -20%;
}

#profile-pic
{
    width: 180px;
    height: 180px;
    border-radius: 3px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
}

#profile-pic img
{
    width: 100%;
}

#u-name
{
    position: absolute;
    top: 120px;
    left: 208px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#edit-profile
{
    position: absolute;
    right: 20px;
    bottom: 21px;
    line-height: 1;
    cursor: pointer;
}

#edit-profile i
{
    display: block;
    color: rgba(255, 255, 255, 0.7);
}

#black-grd
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
    z-index: 1;
}
/* Profile image header finished */

/* Content area */
#main-content
{
    padding: 55px 0px 0px 55px;
}

#l-col, #m-col
{
    vertical-align: top;
}

#l-col
{
    width: 340px;
    padding-top: 6px;
}

.l-cnt
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

.l-mrg
{
    margin-top: 28px;
}
.l-i
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 2px;
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}

#l-i-i
{
    background-image: url('https://imagizer.imageshack.com/img922/7749/C8tmwX.png');
    background-position: 0 -87px;
}

#l-i-p
{
    background-image: url('https://imagizer.imageshack.com/img923/7847/sRapnM.png');
    background-position: 0 0;
}

.lb-action
{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.lb-action i
{
    display: block;
    color: #ccc;
    font-size: 18px;
}

#b-i i
{
    font-size: 24px;
}

#i-box
{
    color: #797979;
    font-size: 14px;
    line-height: 1.3;
}

#intro-line
{
    margin-top: 17px;
}


#u-occ
{
    margin: 10px 0px;
}

#u-occ a
{
    color: #2196f3;
}

#u-loc i
{
    color: #2196F3;
    font-size: 16px;
    margin-left: -3px;
    margin-right: 2px;
    margin-top: -1px;
    vertical-align: middle;
}

#u-loc a
{
    position: relative;
    top: 1px;
    color: #2196F3;
}

#photos
{
    padding: 2px;
    margin: 15px -20px -20px -20px;
}

#photos .td
{
    width: 33.333%;
    height: 112px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: #f1f1f1;
    background-position: 50% 25%;
    background-size: cover;
}

#photos .tb .tr:nth-child(1) .td:nth-child(1)
{
    background-image: url('https://imagizer.imageshack.com/img922/8637/NN4aPj.jpg');
}

#photos .tb .tr:nth-child(1) .td:nth-child(2)
{
    background-image: url('https://imagizer.imageshack.com/img923/528/iJy0X5.jpg');
}

#photos .tb .tr:nth-child(1) .td:nth-child(3)
{
    background-image: url('https://imagizer.imageshack.com/img923/9781/26phSy.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(1)
{
    background-image: url('https://imagizer.imageshack.com/img921/8417/svxO7y.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(2)
{
    background-image: url('https://imagizer.imageshack.com/img921/6488/i2Hb4U.jpg');
}

#photos .tb .tr:nth-child(2) .td:nth-child(3)
{
    background-image: url('https://imagizer.imageshack.com/img921/2453/J7PICR.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(1)
{
    background-image: url('https://imagizer.imageshack.com/img921/3021/8uZZY2.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(2)
{
    background-image: url('https://imagizer.imageshack.com/img923/3992/22mL29.jpg');
}

#photos .tb .tr:nth-child(3) .td:nth-child(3)
{
    background-image: url('https://imagizer.imageshack.com/img921/2711/JXSt41.jpg');
}


#m-col
{
    padding: 0px 55px;
}

.m-mrg
{
    margin-bottom: 28px;
}

#p-tabs
{
    position: relative;
    font-size: 13px;
    color: #919191;
    text-align: center;
    padding: 13px 20px;
    margin-top: -64px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    z-index: 3;
}

#p-tabs-m .td
{
    width: 16.6666667%;
    cursor: pointer;
}

#p-tabs-m .td.active
{
    color: #ee6000;
}

#p-tabs-m span
{
    position: relative;
}

#p-tabs-m .td.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -13px;
    height: 4px;
    background-color: #ee6000;
}

#p-tabs-m .td i
{
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

#p-tab-m
{
    width: 1px;
    color: #ccc;
    cursor: pointer;
}

#p-tab-m i
{
    margin-right: -4px;
}

#composer
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

#c-tabs-cvr
{
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
}

#c-tabs
{
    width: auto;
    color: #919191;
}

#c-tabs .td
{
    position: relative;
    width: 1px;
    padding: 0px 15px;
    white-space: pre;
    cursor: pointer;
}

#c-tabs .td:after
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #eaeaea;
}

#c-tabs .td:first-child
{
    padding-left: 0px;
}

#c-tabs .td:last-child
{
    padding-right: 0;
}

#c-tabs .td:last-child:after
{
    display: none;
}

#c-tabs .td span
{
    position: relative;
}

#c-tabs .td.active
{
    color: #373737;
}

#c-tabs .td.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-color: transparent #ececec #ececec transparent;
    margin: 0 auto;
    background-color: #fff;
    transform: rotateZ(45deg);
}

#c-tabs .td i
{
    font-size: 21px;
    margin-right: 4px;
    vertical-align: middle;
}

#c-tabs .td span
{
    position: relative;
    top: 1px;
    font-size: 15px;
}

#c-c-main
{
    position: relative;
    padding-top: 15px;
}

#p-c-i
{
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#p-c-i img
{
    display: block;
    width: 100%;
}

#c-inp
{
    padding-left: 20px;
}

#c-inp input
{
    width: 100%;
    font-size: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}

#c-c-main input::placeholder
{
    color: #666;
}

#insert_emoji
{
    position: absolute;
    right: -2px;
    bottom: -10px;
    cursor: pointer;
}

#insert_emoji i
{
    display: block;
    color: #ccced6;
    font-size: 21px;
}

.post
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

.p-p-pic
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.p-p-pic img
{
    width: 100%;
    display: block;
    border: 0;
}

.p-r-hdr
{
    vertical-align: top;
    padding-left: 20px;
}

.p-u-info
{
    color: #5a5959;
    font-size: 15px;
    margin-bottom: 7px;
}

.p-u-info a
{
    color: #4267b2;
}

.p-dt
{
    color: #a8a8a8;
    font-size: 13px;
}

.p-dt i
{
    font-size: 14px;
    margin-right: 2px;
}

.p-dt span
{
    position: relative;
    top: -2px;
}

.p-opt
{
    position: relative;
    right: -3px;
    width: 1px;
    color: #ccc;
    cursor: pointer;
    vertical-align: top;
}

.p-cnt-v
{
    display: block;
    margin: 20px -20px;
    cursor: pointer;
}

.p-acts
{
    overflow: hidden;
}

.p-act
{
    width: 24px;
    height: 24px;
    color: #a3a6aa;
    cursor: pointer;
}

.p-act span
{
    position: relative;
    top: 1px;
    width: 20px;
    font-size: 15px;
    color: #a3a6aa;
}

.like
{
    margin-right: 36px;
}

.like, .comment
{
    width: 50px;
    float: left;
}

.p-act i
{
    vertical-align: middle;
}

.like i, .comment i
{
    margin-right: 6px;
}

.share
{
    float: right;
    transform: rotateY(180deg);
    margin-right: -1px;
}

#loading
{
    text-align: center;
    padding: 40px 0px;
}

#loading i
{
    color: #4267b2;
    font-size: 32px;
    display: block;
}
/* Content area finished */



@media only screen and (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        background-color: #ccc;
    }
    main {
        height: 100%;
        width: 100%;
      }

    .l-cnt{
        display: none;
    }
    #main-content
    {
    padding: 100px 0px 0px 55px;
    margin-left: -100px;
    }
    #m-col
    {
        height: 130vh;
        
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1200px) {

}